<div class="container_12 clearfix">
	<section class="portlet grid_12"> 
	    <header>
	        <h2>Confirmação de conta</h2> 
	    </header>
	    <section>
		<h3>
			Precisando receber o link para confirmar sua conta ?
	 	</h3>
		<h5>Sem problemas. Informe seu email e clique em enviar que em alguns instantes você receberá novamente um email com um link para confirmar o seu cadastro</h5>

		<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }, :class => 'form') do |f| %>

			<% if devise_error_messages!.size > 0 -%>
			<div>
				<div class='message error closeable'>
					<span class="message-close"></span>
					<%= devise_error_messages! %>
				</div>
			</div>
			<% end -%>

			<div>
				<%= f.label :email, :class => 'form-label' %>
				<div class="form-input">
					<%= f.email_field :email %>
				</div>
			</div>

			<br />
							
			<div>
				<div class="form-input">
					<%= f.submit "Enviar" %>
				</div>
			</div>
		<% end %>

		<br />

		<div><%= render "links" %></div>

		</section>
	</section>
</div>
