<% if !notice.nil? %><div class="msg msg-info"><p><%= notice %></p></div><% end %>
<% if !alert.nil? %><div class="msg msg-error"><p><%= alert %></p></div><% end %>
			<%= simple_form_for @tracking_number do |f| %>
				<%= f.label :number, 'Número do objeto'%>
				<%= f.input :number, :label => false, :hint => ' Exemplo: SS987654321BR' %><br />

				<%= f.label :destination, 'CEP de destino'%>
				<%= f.input :destination, :label => false, :hint => ' Exemplo: 12345-000' %><br />

				<%= f.button :submit, 'Salvar'  %><br />
			<% end %>
