<div class="container_12 clearfix leading">
	<section class="portlet grid_12 leading"> 
	    <header>
	        <h2>Objeto</h2> 
	    </header>
	    <section>
		<h3>
			Exibindo objeto
	 	</h3>

		Número do objeto: <strong><%= @tracking_number.number %></strong><br/>
		Descrição: <strong><%= @tracking_number.description %></strong><br/>
		Postagem: <strong><%= @tracking_number.post_date %></strong><br/>
		Data máxima de entrega: <strong><%= @tracking_number.shipping_date %></strong><br/>
		Status: <strong><%= @tracking_number.status_name %></strong><br/>
		Valor: <strong><%= @tracking_number.shipping_price %></strong><br/>
		Destino: <strong><%= @tracking_number.destination %></strong><br/>
		Última atualização: <strong><%= @tracking_number.status_updated_at %></strong><br/>

		<br />

        <div class="form-action clearfix">
			<%= link_to 'Editar objeto', edit_tracking_number_path(@tracking_number), :class => 'button'%>
			<%= link_to 'Exibir ocorrências', status_tracking_number_path(@tracking_number, :list_status => params[:list_status]), :class => 'button'%>
        	<%= link_to 'Excluir', @tracking_number, :class => 'button', :confirm => 'Você tem certeza ?', :method => :delete, :class => 'button' %>
 		</div>

		<%= render 'status' if !@occurrences.nil?%>

		</section>
	</section>
</div>


<%= render 'list'%>
