<!DOCTYPE html>
<!--[if IE 7 ]>   <html lang="en" class="ie7 lte8"> <![endif]--> 
<!--[if IE 8 ]>   <html lang="en" class="ie8 lte8"> <![endif]--> 
<!--[if IE 9 ]>   <html lang="en" class="ie9"> <![endif]--> 
<!--[if gt IE 9]> <html lang="en"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head><!--[if lte IE 9 ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

<!-- iPad Settings -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
<!-- iPad Settings End -->

<title>rastreie:me - Sua encomenda, seu prazo.</title>

<link rel="shortcut icon" href="favicon.ico">

<!-- iOS ICONS -->
<link rel="apple-touch-icon" href="touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone4.png" />
<link rel="apple-touch-startup-image" href="touch-startup-image.png">
<!-- iOS ICONS END -->


<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= render 'shared/css'%>

<!--[if lt IE 9]>
<%= javascript_include_tag "html5.js" %>
<%= javascript_include_tag "selectivizr.js" %>
<![endif]-->

</head>
<body style="overflow: hidden;">
    <div id="wrapper">
		<%= render 'shared/header' %>
        <section>
			<%= render 'shared/sidebar' %>

            <section>
                <header>
                    <div class="container_12 clearfix">
                        <a href="#menu" class="showmenu button">Menu</a>
                        <h1 class="grid_12">Dashboard</h1>
                    </div>
                </header>
                <section id="main-content">
					<div class="clearfix leading">
						<%- flash.each do |name, msg| -%>
						<div class="container_12 clearfix ">
							<section class="grid_12">
								<div class='message info closeable' id="flash_<%= name -%>">
									<span class="message-close"></span>
									<p><%= msg -%></p>
								</div>
							</section>
						</div>
						<%- end -%>
						<%= yield %>
					</div>
                </section>
                <footer class="clearfix">
                    <div class="container_12">
                        <div class="grid_12">
                            Copyright &copy; <%= Date.current.year%>.  heap systems
                        </div>
                    </div>
                </footer>
            </section>

            <!-- Main Section End -->
        </section>
    </div>



    
	<%= render 'shared/javascript'%>



    <!-- POPOVERS SETUP-->
	<%= render 'shared/notifications'%>
	<%= render 'shared/settings'%>
	<%= render 'shared/activity'%>

    <script>
        $(document).ready(function() {
            $('#settings-button').popover('#settings-popover', {preventRight: true});
        });
    </script>
    <!-- POPOVERS SETUP END-->

</body>
</html>